/*General Colors*/
@blue-hint: #428bca;
@red-hint: #D43F3F;
@border-color: #bbb;
@paper-background-color: #eee;
@journal-color: #666;
@light-gray-text: #999;
@selected-color: #4A9CE3;
@selected-body-color: rgba(255, 255, 255, 0.8);
@text-color: #444;

/*General font sizes*/
@base-font-size: 13px;
@time-font-size: @base-font-size - 1px;
@title-font-size: @base-font-size + 2px;
@line-height: 1.35;

/*Navbar*/
@navbar-height: 50px;
@navbar-top-color: #333;
@border-top-width: 3px;
@border-bottom-width: 1px;
@separator-height: 30px;
@controls-hor-padding: 10px;
@filters-hor-margin: 3px; 
@frame-top: @navbar-height - 1px;

/*Spacing for the link bar chrome shows*/
@bottom-link-bar: 10px;

/*Papers column*/
@papers-column-width: 400px;
@vertical-padding: 6px;
@paper-margins: 5px;

/*Content style*/
@content-width: 600px;
@toolbar-height: 36px;
@toolbar-title-height: 16px;

/*Other pages margins*/
@subscriptions-margins: 30px;

/*Subscriotions style*/
@active-indicator-width: 6px;

body { 
  padding-top: @frame-top;
}

.bar {
	margin-bottom: 0px;
	position: absolute;
	height: @navbar-height;
	top: 0;
	width: 100%;
	left: 0;
	border-top: @border-top-width solid @navbar-top-color;
	border-bottom: @border-bottom-width solid @border-color;
	border-radius: 0;
	background-color: #fff;
	ul {  
	    padding: 0;  
	    margin: 0;  
	    height: @navbar-height;
	    display: inline;
	    li {
	    	display: inline;
	    	a {  
	    	    text-decoration: none;  
	    	    display: inline-block;  
	    	    float: left;    
	    	    height: @separator-height;
	    	    margin-bottom: (@navbar-height - @separator-height)/2 - @border-bottom-width;
	    	    margin-top: (@navbar-height - @separator-height)/2 - @border-top-width; 
	    	    line-height: @separator-height; 
	    	    text-align: center; 
	    	    font-weight: bold;
	    	}
	    } 
	    &.filters {
	        background-color: #888;
	        li {
	        	a {
	        		width: @papers-column-width / 2 - 2 * @filters-hor-margin;
	        		border-radius: 4px;
	        		margin-left: @filters-hor-margin;
	        		margin-right: @filters-hor-margin;
	        		color: @border-color - #222;
	        		&.active {
	        			background-color: @blue-hint;
	        			color: #fff;
	        			&:hover, &:focus {
	        				border: 0;
	        				color: #fff;
	        				line-height: @separator-height;
	        			}
	        		}
	        		&:hover, &:focus {
	        			color: @red-hint;
	        			border: 1px solid @red-hint;
	        			line-height: @separator-height - 2px;
	        		}
	        	}
	        }
	    } 
	    &.buttons {
	    	li {
	    	    a {
	    	    	padding-left: @controls-hor-padding;
	    	    	padding-right: @controls-hor-padding;
	    	    	border-right: 1px solid @border-color;
	    	    	color: @border-color - #222;
	    	    	&:hover, &:focus {
	    	    		color: @red-hint;
	    	    	}
	    	    }
	    	    &:last-child a {  
	    	        border-right: none;
	    	    }	
	    	}
	    }
	    &.controls {
	    	float: right;
	    	padding-right: 5px;
	    }
	} 
}

.main-frame {
	height: auto;
	width: 100%;
	top: @frame-top;
	bottom: 0px;
	left: 0px;
	position: absolute;
}

.app-wrap {
	height: 100%;
	width: 100%;
}

.app-panel {
	vertical-align: top;
	display: table-cell;
	height: 100%;
}

.full-height {
	height: 100%;
}

.papers-wrap {
    position: relative;
}

.papers-column {
	position: relative;
	width: @papers-column-width;
	border-collapse: collapse;
	border-right: 1px solid @border-color;
	padding: 0;
}

.papers {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;	
    ul {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: @bottom-link-bar;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;	
    }
    li {
    	list-style-image: none;
    	list-style-position: outside;
    	list-style-type: none;
    	&.paper {
    		margin-right: -1px;
    		a {
    			text-decoration: none;
    			color: @text-color;
    			font-size: @base-font-size;
    			line-height: @line-height * @base-font-size;
    			padding: 10px 15px;
    			border: 1px solid @border-color;
    			box-sizing: border-box;
    			position: relative;
    			display: block;
    			margin-bottom: -1px;
    			padding-bottom: @vertical-padding;
    			padding-top: @vertical-padding;
    			padding-right: 8px;
    			&:hover, &:focus {
    				text-decoration: none;
    				color: @text-color;
    			}
    		}
    		time {
    			font-size: @time-font-size;
    			color: @light-gray-text;
    		}
    		.title {
    			font-weight: bold;
    			margin-top: @paper-margins;
    			margin-bottom: @paper-margins;
    			font-size: @title-font-size;
    			line-height: @line-height * @title-font-size;
    		}
    		.journal {
    			color: @journal-color;
    			font-size: @time-font-size;
    		}
    		.body {
    			color: rgb(140, 140, 140);
    		}
    		p {
    			margin-bottom: @paper-margins;
    		}
    	}
    	&.read {
    		.title {
    			color: #999;
    		}
    	}
    }
}


.selected {
	background-color: @selected-color;
	a {
		time, .journal, .body {
			color: @selected-body-color !important; 
		}
		.title {
			color: rgb(255, 255, 255) !important;
		}
		.journal {
		    color: @selected-body-color;
		}
	}
}

.paper-wrap {
	position: relative;
	background-color: @paper-background-color;
}

.paper-content-wrap {
	position: relative;
}

.paper-toolbar {
	background-color: #FFF;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: @toolbar-height;
	border-bottom: 1px solid #CCC;
	p {
		height: @toolbar-title-height;
		margin-top: 0.5*(@toolbar-height - @toolbar-title-height);
		margin-left: 40px;
		color: @journal-color;
	}
}

.paper-content {
    background-color: #FFF;
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: @toolbar-height;
    left: 0;
    right: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.paper-inner {
    padding: 40px 20px 10px 20px;
    margin: 0 auto;
    max-width: @content-width;
    a:hover, a:focus {
        text-decoration: none;
    }
    .title {
    	font-weight: normal;
    	line-height: 1.1em;
    }
    .journal, time {
    	color: @light-gray-text;
    	font-size: @base-font-size + 1px;
    	margin-bottom: @paper-margins;
    }
    .body {
    	margin-top: 15px;
    	line-height: 25px;
    }
}

tr.subscription-headers {
    height: 45px;
	th {
	    padding-top: 10px;
		h4 {
			border-bottom: 2px solid @red-hint;
			margin: 0;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}

.subscription-column {
	width: 33%;
	.overflow {
		overflow-x: hidden;
		overflow-y: auto;
	}
	ul {
		list-style-image: none;
		list-style-position: outside;
		list-style-type: none;
		padding-left: 0;
	}
	li {
		list-style-image: none;
		list-style-position: outside;
		list-style-type: none;
		border-bottom: 1px solid @border-color + #222;
		a {
			line-height: 50px;
			padding-left: 30px;
			color: @journal-color - #111;
			display: block;
			&:hover, &:focus {
				text-decoration: none;
			}
		}
		&.active {
			border-right: @active-indicator-width solid @blue-hint;
			background-color: fade(@blue-hint, 10%);
			a {
				margin-right: -@active-indicator-width;
			}
		}
	}
	&.journals {
		ul li {
			padding-right: 20px;
			button {
				margin-top: 8px;
			}
		}
	}
}