<div ng-if="!isLogged()">
    <div class="home-page">
      <div class="container">
        <a href="https://github.com/dedalusj/PaperChase"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
        
        <div class="header">
          <div class="logo">
            <a href="#/"><span ng-include="'images/logo.svg'"></span><h1>Paperchase</h1></a>
          </div>
          <div class="button vertical-center">
            <a href="#/login">Login</a>
          </div>
        </div>

        <h2 class="description">The easiest way to keep up with academic papers.</h2>
     </div>
     <div class="screenshot">
       <img src="images/screenshot.png"/>
     </div>
     <div class="container">
        <div class="specs">
          <div class="row">
            <div class="col-md-4 col-md-offset-2"><div class="icon"><i class="fa fa-file-text"></i></div><p class="text-center lead">Paperchase collects newly published papers from hundreds of different academic journals and serves them in <strong>one convenient place</strong>.</p></div>
            <div class="col-md-4"><div class="icon"><i class="fa fa-sort-numeric-desc"></i></div><p class="text-center lead">Paperchase ranks every new paper based on <strong>your interests</strong> so you see the most interesting papers first.</p></div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-4"><div class="icon"><i class="fa fa-share-square"></i></div><p class="text-center lead"><strong>Share</strong> interesting papers with your colleagues or add them to your <a href="http://www.papersapp.com">Papers</a> and <a href="http://www.mendeley.com/">Mendeley</a> collections.</p></div>
          </div>
        </div>
      </div>
      <div class="blurb">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <p>Paperchase was created by Jacopo Sabbatini using <a href="http://www.python.org/">Python</a>, with <a href="http://flask.pocoo.org/">Flask</a> and <a href="http://www.sqlalchemy.org/">SQLAlchemy</a>, and Javascript with <a href="http://angularjs.org/">AngularJS</a>.</p>
              
              <div class="col-md-6 left">
                <p>Paperchase is his first attempt at building a web application. It's both a learning exercise and an attempt at building a tool useful to the academic community.</p>
              </div>
              <div class="panel panel-default col-md-6 right">
                <div class="panel-body">
                  <p>If you appreciate Paperchase please consider giving back by sending feedback, suggestions, or <a href="https://github.com/dedalusj/PaperChase">code</a>.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-offset-3">
            <a href="mailto:paperchase.app@gmail.com"><i class="fa fa-envelope fa-5x"></i><div>Email me</div></a>
          </div>
          <div class="col-lg-2 next">
            <a href="https://twitter.com/dedalusj"><i class="fa fa-twitter-square fa-5x"></i><div>Follow me on Twitter</div></a>
          </div>
          <div class="col-lg-2 next">
            <a href="https://github.com/dedalusj"><i class="fa fa-github fa-5x"></i><div>See my github profile</div></a>
          </div>
        </div>
        </div>
      </div>
    </div>
</div>

<div ng-if="isLogged()">
<nav class="bar">  
    <ul class="filters">  
        <li class="button"><a href="#/" ng-class="{active: !unreadFilter(), inactive: unreadFilter()}" ng-click="toggleUnread()">All</a></li>  
        <li class="button"><a href="#/" ng-class="{active: unreadFilter(), inactive: !unreadFilter()}" ng-click="toggleUnread()">Unread</a></li>    
    </ul>
    <ul class="controls">
        <li><a href="#/subscriptions">Subscriptions</a></li>  
        <li><a href="" ng-click="logoutPC()">Logout</a></li>  
    </ul>  
</nav>

<div class="main-frame">

<table class="app-wrap"> 
  <tbody>
    <tr>
      <td ng-if="showSubscriptions" class="subscriptions-column app-panel">
        <div class="full-height rel-pos">
          <ul>
            <li ng-repeat="journal in journals.subscriptions">
              {{ journal.title }}
            </li>
          </ul>
        </div>
      </td>
      <td class="papers-column app-panel" ng-class="{'active-column': papersActive}">
        <div class="full-height rel-pos">
          <div class="papers" infinite-scroll='papers.nextPage()' infinite-scroll-disabled='papers.busy' infinite-scroll-distance='1'>
            <ul>
              <li class="paper" ng-repeat="paper in papers.items" ng-class="{selected: paper.selected, read: paper.read}" id="paper{{paper.id}}">
                <a href="#/" ng-click="papers.selectItem(paper.id)">
                  <span class="favicon-wrap">
                      <img ng-if="paper.journal.favicon != null" ng-src="{{ paper.journal.favicon }}" height="16" width="16">
                      <i ng-if="paper.journal.favicon == null" class="fa fa-flask"></i>
                  </span>
                  <time>{{ paper.created | date:'dd MMMM yyyy, h:mm a'}}</time>
                  <h4 class="title">{{ paper.title }}</h4>
                  <p class="journal">{{ paper.journal.title }}</p>
                  <p class="body">{{ paper.abstract | htmlToPlainText }}</p>
                </a>
              </li>
              <li ng-show='papers.busy'><i class="fa fa-spinner fa-spin"></i></li>
            </ul>
          </div>
          <div class="actions">
            <div class="toolbar-button vertical-center" ng-click="toggleShowSubscriptions()">
              <div class="inner">
                <i class="fa fa-bars fa-3x"></i>
              </div>
            </div>
            <div class="toolbar-button toolbar-button-text vertical-center horizontal-center" ng-click="markAllRead()">
              <div class="inner">
                <i class="fa fa-check-square fa-3x"></i>
              </div>  
              Mark All Read
            </div>
          </div>
        </div> 
      </td>
      <td class="paper-column app-panel" ng-class="{'active-column': !papersActive}">
        <div class="full-height paper-wrap">
        <div ng-if="papers.selected" class="rel-pos full-height">
          <div class="paper-toolbar">
            <span class="favicon-wrap vertical-center">
                <img ng-if="papers.selected.journal.favicon != null" ng-src="{{ papers.selected.journal.favicon }}" height="16" width="16">
                <i ng-if="papers.selected.journal.favicon == null" class="fa fa-flask"></i>
            </span>
            <a class="journal">{{ papers.selected.journal.title }}</a>
            <ul class="controls" id="paper-controls">
              <li><a ng-href="papers://url/{{ papers.selected.url | escape }}" title="Add to Papers"><span ng-include="'images/papers-logo.svg'"></span></a></li>
              <li><a ng-href="mailto:?subject={{ papers.selected.title | escape }}&body={{ papers.selected.url | escape }}" title="Email"><i class="fa fa-envelope"></i></a></li>
              <li>
                <a href="" title="Mark as read/unread" ng-click="toggleReadSelected()">
                  <i ng-if="!papers.selected.read" class="fa fa-square-o"></i>
                  <i ng-if="papers.selected.read" class="fa fa-check-square-o"></i>
                </a>
              </li>
            </ul>
          </div>
           <div class="paper-content">
            <div class="paper-inner">
              <a href="{{ papers.selected.url }}" target="_blank"><h2 class="title">{{ papers.selected.title }}</h2></a>
              <p class="journal">{{ papers.selected.journal.title }}</p>
              <time>{{ papers.selected.created | date:'dd MMMM yyyy, h:mm a'}}</time>
              <p class="body" ng-bind-html="papers.selected.abstract"></p>
            </div>
          </div>
        </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

</div>
</div>