<nav class="bar">  
    <ul class="logo-link buttons"> 
        <li><a href="#/home" title="Home"><span ng-include="'static/img/logo.svg'"></span></a></li>  
    </ul> 
    <ul class="controls buttons"> 
        <li><a href="" ng-click="logoutPC()">Logout</a></li>  
    </ul>  
</nav>

<div class="main-frame">

<table class="app-wrap"> 
  <tbody>
    <tr class="subscription-headers">
     <th><h4 class="text-center">Categories</h4></th>
     <th><h4 class="text-center">Subcategories</h4></th>
     <th><h4 class="text-center">Journals</h4></th>
    </tr>
    <tr>
      <td class="subscription-column app-panel">
        <div class="full-height overflow">
        <ul>
          <li ng-repeat="category in categories" ng-class="isActive(category.id,false)"><a href="#/subscriptions" ng-click="updateSubcategories($event, category.id);">{{ category.name }}</a></li>
        </ul>
        </div>
      </td>
      <td class="subscription-column app-panel">
        <div class="full-height overflow">
        <p class="text-center" ng-hide="subcategories.length">Please select a category</p>
        <ul ng-show="subcategories.length">
          <li ng-repeat="subcategory in subcategories" ng-class="isActive(subcategory.id,true)"><a href="#/subscriptions" ng-click="updateJournals($event, subcategory.id);">{{ subcategory.name }}</a></li>
        </ul>
        </div>
      </td>
      <td class="subscription-column journals app-panel">
        <div class="full-height overflow">
        <p class="text-center" ng-hide="journals.length">Please select a subcategory</p>
        <ul ng-show="journals.length">
          <li ng-repeat="journal in journals">
          <a href="#/subscriptions">{{ journal.title }}
          <button ng-show="!journal.subscribed" type="button" class="btn btn-sm pull-right btn-primary" ng-click="subscribe($event, journal.id)">Subscribe</button>
          <button ng-show="journal.subscribed" type="button" class="btn btn-sm pull-right btn-danger" ng-click="unsubscribe($event, journal.id)">Unsubscribe</button>
          </a>
          </li>
        </ul>
        <p class="text-center"><a href="#/suggestion">Suggest a new journal</a></p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
