flask
alembic
flask-sqlalchemy
celery
flower
Flask-Mail
pymysql
feedparser
redis
pytz>=2013b
requests
lxml
flask-script
flask-restful
flask-assets
flask-httpauth
passlib
py-bcrypt
cssmin
python-dateutil
beautifulsoup4
supervisor