<html>
  <head>
    <title>PaperChase</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    
    {% assets "css_all" %}
        <link rel="{{ EXTRA.rel }}" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
        
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    
  </head>
  {% raw %}
  <body ng-app="PCApp" ng-controller="mainController" pc-keydown pc-space="keyPressed('space')" pc-down="keyPressed('down')" pc-up="keyPressed('up')" pc-left="keyPressed('left')" pc-right="keyPressed('right')">
        <ng-view>Loading...</ng-view>  
  </body>
  {% endraw %}
</html>