<div class="modal-header">
  <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
  <h4 class="modal-title">First Login</h4>
</div>
<div class="modal-body">
 <p class="lead">As this is the first time you login into Paperchase you will be redirected to the subscriptions page where you can choose which academic journals you would like to follow.</p>
 
 <p class="lead">Once you have chosen the journals you can return to the home page to see the papers interesting to you.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="close()">OK</button>
</div>