<h2 ng-if="!isLogged()"> Home Page </h2>

<table ng-if="isLogged()" class="app-wrap"> 
<!--pc-keydown pc-space="console.log('Space')"
      pc-down="console.log('Down')" pc-up="console.log('Up')" pc-read="console.log('Read')"-->
  <tbody>
    <tr>
      <td class="papers-column app-panel">
        <div class="full-height papers-wrap">
          <div class="papers" infinite-scroll='papers.nextPage()' infinite-scroll-disabled='papers.busy' infinite-scroll-distance='1'>
        <ul>
          <li class="paper" ng-repeat="paper in papers.items" ng-class="{selected: paper.selected}">
            <a href="#/home" ng-click="papers.selectItem(paper.id)">
              <time>{{ paper.created | date:'dd MMMM yyyy, h:mm a'}}</time>
              <h4 class="title">{{ paper.title }}</h4>
              <p class="journal">{{ paper.journal.title }}</p>
              <p class="body">{{ paper.abstract | htmlToPlainText }}</p>
            </a>
          </li>
          <li ng-show='papers.busy'>Loading data...</li>
        </ul>
          </div>
        </div> 
      </td>
      <td class="paper-column app-panel">
        <div class="full-height paper-wrap">
        <div class="paper-content-wrap full-height">
        <div class="paper-toolbar"><p class="journal">{{ papers.selected.journal.title }}</p></div>
        <div class="paper-content">
          <div class="paper-inner">
            <a href="{{ papers.selected.url }}"><h2 class="title">{{ papers.selected.title }}</h2></a>
            <p class="journal">{{ papers.selected.journal.title }}</p>
            <time>{{ papers.selected.created | date:'dd MMMM yyyy, h:mm a'}}</time>
            <p class="body" ng-bind-html="papers.selected.abstract"></p>
          </div>
        </div>
        </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>