<div class="login">

<div id="logo">
  <a href="#/home">
    <span ng-include="'static/img/logo.svg'"></span>
  </a>
</div>

<div class="login-box">
<h2>Login</h2>

    <form class="form-horizontal" role="form" ng-submit="loginPC()" name="login" novalidate>
      <div class="form-group" ng-class="{'has-error': login.email.$dirty && login.email.$invalid, 'has-success': login.email.$dirty && login.email.$valid}">
        <div class="input-group input-group-lg">
          <span class="input-group-addon">@</span>
          <input type="email" class="form-control" ng-model="email" name="email" placeholder="Email Address" required>
        </div>    
          <p class="help-block error" ng-show="login.email.$dirty && login.email.$error.required">Please enter your email</p>
          <p class="help-block error" ng-show="login.email.$dirty && login.email.$error.email">Please enter a valid email address</p>
      </div>
        
      <div class="form-group" ng-class="{'has-error': login.password.$dirty && login.password.$invalid, 'has-success': login.password.$dirty && login.password.$valid}">
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="icon-lock"></i> </span>
          <input type="password" class="form-control" ng-model="password" name="password" placeholder="Password" required>
        </div> 
        <p class="help-block error" ng-show="login.password.$dirty && login.password.$error.required">Please enter your password</p>
      </div>
      
      <div class="form-group">
          <input class="login-button" name="commit" tabindex="3" type="submit" value="Login" ng-disabled="!login.$valid">
      </div>
      
    </form> 
  </div>
  <div class="register-label">
  <h4>Don't have an account? <a href="#/register">Register here</a>.</h4> 
  </div> 
</div>