<html>
  <head>
    <title>Keep Up With Science</title>
    <link rel="stylesheet" href="/static/css/kuws.css">
    
    <script src="/static/js/vendor/jquery-1.10.1.min.js"></script>
        
    <script src="/static/js/vendor/angular.min.js"></script>
    <script src="/static/js/vendor/angular-resource.min.js"></script>
    <script src="/static/js/vendor/base64.js"></script>
    
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <script src="/static/js/vendor/bootstrap.js"></script>
    
    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers/controllers.js"></script>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    
  </head>
  <body>
    <div class="container">
     <div class="navbar navbar-fixed-top navbar-inverse">
        <a class="navbar-brand" href="#"><img src="/static/img/favicon.ico" alt="KUWS" width="20" height="20"></a>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
        	<!--
        	  <li ><a href="/logout">Logout</a></li>
        	-->
        	  <li class="active"><a href="/login">Login</a></li>
        	  <li><a style="color: orange;" href="/register">Sign Up</a></li>
        </ul>
      </div>
    
      <div class="container main-frame" ng-app="KUWSApp" ng-controller="mainController">
		<ng-view>Loading...</ng-view>  
      </div>
    </div>
    </body>
</html>