{% macro render_errors(errors) %}
  {% for error in errors %}
    <div class="alert alert-error">
    	<a class="close" data-dismiss="alert" href="#">x</a>{{ error }}
    </div>
  {% endfor %}
{% endmacro %}

{% macro render_label(field) %}
    <label for="{{ field.name }}" class="col-lg-4 control-label">{{ field.label.text }}</label>
{% endmacro %}

{% macro render_textfield(field) %}
   {% if field.type == "PasswordField" %}
     <input type="password" class="form-control" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.label.text }}">
   {% else %}
     <input type="text" class="form-control" name="{{ field.name }}" id="{{ field.name }}" placeholder="{{ field.label.text }}">
   {% endif %}
{% endmacro %}

{% macro render_field(field, error=true) %}
    {{ render_label(field) }}
    <div class="col-lg-8">
      {{ render_textfield(field) }}
      {% if (field.errors and error) %} 
        {{ render_errors(field.errors) }}
      {% endif %}
    </div>
{% endmacro %}

{% macro render_field_in_group(field, error=false) %}
  <div class="form-group">
      {{ render_field(field, error=error) }}
  </div>
{% endmacro %}

{% macro render_field_and_buttons_in_group(field, buttons, error=false) %}
  <div class="form-group">
  	{{ render_label(field) }}
  	<div class="col-lg-8">
  	  {% if (buttons|first).type == "SubmitField" %}
  	    <div style="padding-bottom: 15px">
  	  {% endif %}
  	  
  	  {{ render_textfield(field) }}
  	  
  	  {% if (field.errors and error) %} 
  	    {{ render_errors(field.errors) }}
  	  {% endif %}
  	  
  	  {% if (buttons|first).type == "SubmitField" %}
  	    </div>
  	  {% endif %}
  	  
  	  {% for button in buttons %}
  	    {% if button.type == "BooleanField" %}
  	      {{ render_checkbox(button) }}
  	    {% else %}
  	      {{ render_button(button) }}
  	    {% endif %}
  	  {% endfor %}
  	
  	</div>
  </div>
{% endmacro %}

{% macro render_checkbox(checkbox) %}
  <div class="checkbox">
     <label>
       <input type="checkbox" name="{{ checkbox.name }}" value="1"> {{ checkbox.label.text }}
     </label>
  </div>	
{% endmacro %}

{% macro render_button(button) %}
    <button class="btn btn-default" type="submit">{{ button.label.text }}</button> 
{% endmacro %}

{% macro render_hidden(hidden_field) %}
  <p>{{ hidden_field(**kwargs)|safe }}</p>
{% endmacro %}
