{% extends "layouts/boilerplate.html" %}

{% block body %}
  {% from "macros/forms.html" import render_field_in_group, render_field_and_buttons_in_group, render_hidden %}
    <div class="row">
        <div class="well col-lg-6 col-offset-3">
          <legend>Sign in to Keep Up With Science</legend>
          <form class="form-horizontal" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
            {{ login_user_form.hidden_tag() }}
            {{ render_field_in_group(login_user_form.email, error=true) }}
            {{ render_field_and_buttons_in_group(login_user_form.password, [login_user_form.remember, login_user_form.submit], error=true) }}
            {{ render_hidden(login_user_form.next) }}
          </form>   
        </div>
  </div>
{% endblock %}