<html>
  <head>
    <title>{% block page_title %}Keep Up With Science{% endblock %}</title>
    {% assets "css_all" -%}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {%- endassets %}
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <div class="container">
      {% include "layouts/_topbar.html" %}
      {% block flash_messages %}
        {% include "layouts/_messages.html" %}
      {% endblock %}
      {% block body %}
        Body
      {% endblock %}
    </div>
    {% assets "js_vendor" -%}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
